{% extends 'base.html.twig' %}

{% block body %}

    <h2>Admin</h2>

    <ul>
        {% for shape_info in shape_infos %}
            <li>
                <strong>Title:</strong> {{ shape_info['dc11:title'] }}<br/><br/>
                <strong>Desription:</strong> {{ shape_info['dc11:description'] }} <br/>
                <br/>
                <strong>SHACL files:</strong>
                <ul>
                    {% for file in shape_info['srekl:shacl-file'] %}
                        <li><a href="{{ file }}" target="_blank">{{ file }}</a></li>
                    {% endfor %}
                </ul>
                <br/>
                <a class="btn btn-primary btn-xs" href="{{ url }}admin?approve={{ shape_info['_idUri'] }}">
                    Approve</a>
                <br/>
                <br/>
                <br/>
                <br/>
            </li>
        {% else %}
            <li>No shape info entries for approval found.</li>
        {% endfor %}
    </ul>

{% endblock %}
