{% extends 'base.html.twig' %}

{% block body %}

    <h2>Find and register SHACL shapes</h2>

    <br/>
    <br/>

    <div class="row">
        <div class="col-lg-3">
            <h4>Search</h4>

            Put in a string and do a fulltext search for SHACL rules (e.g. "foaf:Person"):

            <br/>
            <br/>
            <br/>
            <form action="{{ url }}" method="get">
                <input class="form-control" type="text" name="search_query" value="{{ search_query }}">
                <br/>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>

            <br/>
            <br/>

            Can't find the shapes you are looking for? Please have a look at the <a href="https://github.com/schreckl/rules">current data</a> available.

            <br/>
            <br/>
            Or register new shapes <a href="{{url}}register-shapes">here</a>.
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-8">
            <h4>Found SHACL info entries</h4>

            {% set i = 0 %}
            {% for key,info in shape_infos %}
                {% set i = i + 1 %}
                <br/>
                <br/>
                <h3># {{i}} - <a href="{{ info['_idUri'] }}">{{ info['dc11:title'] }}</h3></a>

                <div class="bg-info" style="padding:20px; border-radius: 10px; border: 1px; width: 50%;">
                    {{ info['dc11:description'] }}
                </div>

                <br/>
                <strong>Creator:</strong> {{ info['dc11:creator'] }}

                <br/>
                <br/>

                <strong>Referenced SHACL files:</strong>
                <ul>
                    {% for file in info['srekl:shacl-file'] %}
                        {% if file['_idUri'] is defined %}
                            {% set file_url = file['_idUri'] %}
                        {% else %}
                            {% set file_url = file %}
                        {% endif %}
                        <li><a href="{{ file_url }}">{{ file_url }}</a></li>
                    {% endfor %}
                </ul>

            {% else %}
                No ShapeInfo entries found.
            {% endfor %}

        </div>
    </div>

{% endblock %}
