{% extends 'base.html.twig' %}

{% block body %}

    <h2>Register shapes</h2>

    {% if created %}

        <br/>
        <br/>

        <div class="bg-success" style="width: 40%; padding: 20px; border-radius: 10px; border: 1px;">
            Registration successfully. Your shapes will be added to our service after approval.
        </div>

    {% else %}
        Here you can register a new set of shapes to our service. After approval, it will included into our gathering process. Fields with * are required. Please provide a contact mail or link for others, if they have a question about the dataset.

        <br/>
        <br/>
        <br/>

        {% if 0 < error|length %}
            <div class="bg-danger" style="width: 40%; padding: 20px; border-radius: 10px; border: 1px;">
                {{ error }}
            </div>

            <br/>
            <br/>
        {% endif %}

        <form class="{{ url }}register-shapes" action="" method="post">
            <div class="row">
                <div class="col-lg-2">
                    <strong>Title*:</strong>
                </div>
                <div class="col-lg-4">
                    <input class="form-control" type="text" name="dc11:title" value="{{ data['dc11:title'] }}"
                        required="required">
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-2">
                    <strong>Description*:</strong>
                </div>
                <div class="col-lg-4">
                    <textarea class="form-control" name="dc11:description" rows="4" cols="50" required="required"
                        >{{ data['dc11:description'] }}</textarea>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-2">
                    <strong>SHACL file link(s)*:</strong>
                </div>
                <div class="col-md-12 col-lg-10">
                    <textarea class="form-control" name="srekl:shacl-file" rows="8" cols="80"
                        placeholder="http://foo/bar.ttl, http://foo/baz2.ttl"
                        required="required">{{ data['srekl:shacl-file'] }}</textarea>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-2">
                    <strong>Creator link:</strong>
                    <br/>
                    <em><small>optional</small></em>
                </div>
                <div class="col-lg-4">
                    <input class="form-control" type="text" name="dc11:creator" value="{{ data['dc11:creator'] }}">
                    <small>Please provide a link with contact information. Helpful if someone has questions about it.</small>
                </div>
            </div>
            <br/>
            <br/>
            <div class="row">
                <div class="col-lg-2">
                    <br/>
                    <strong>Captcha*:</strong>
                </div>
                <div class="col-lg-4">
                    <img src="{{ captcha_img }}" alt="">
                    <br/>
                    <br/>
                    <small>Please input the text shown on the image here:</small>
                    <input class="form-control" type="text" name="captcha_by_user" value=""
                        placeholder="" style="width: 200px;">
                    <input class="form-control" type="text" name="captcha" value=""
                        placeholder="" style="display: none;">
                </div>
            </div>

            <br/>
            <br/>
            <button class="btn btn-primary" type="submit" name="button">Register</button>

            <input type="hidden" name="action" value="insert">
        </form>

    {% endif %}

{% endblock %}
